{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Valentin Marmin</h6>
          {% include "contact_info.html" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li> <a href="{% url "blog" %}">Blog</a></li>
            <li> <a href="#">Gallery</a></li>
            <li> <a href="#">Projects</a></li>
            <li> <a href="{% url "about" %}">About me</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latest-posts">
          {% for obj in latest %}
          <a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{{ obj.thumbnail.url }}" alt="post thumbnail" class="img-fluid"></div>
              <div class="title"><strong>{{ obj.title }}</strong><span class="date last-meta">{{ obj.timestamp }}</span>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2020. All rights reserved. Valentin Marmin.</p>
        </div>
        <div class="col-md-6 text-right">
          <p>Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless
              you purchase an attribution-free license @ Bootstrap Temple or
              support us at http://bootstrapious.com/donate. It is part of the
              license conditions. Thanks for understanding :)
            -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
