<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

  {% include "header.html" %}

  {% block body %}

  {% if messages %}
  <div class="container">
    <strong>Messages:</strong>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="container">
    <strong>Menu:</strong>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Sign In</a></li>
      <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </div>

  {% include "footer.html" %}
  {% include "scripts.html" %}
</body>

</html>
